<div class="toolbar w-full px-gutter" fxLayout="row" fxLayoutAlign="start center" vexContainer>
  <button (click)="openSidenav()" [fxHide]="!mobileQuery" mat-icon-button type="button">
    <mat-icon [icIcon]="icMenu"></mat-icon>
  </button>

  <button *ngIf="isHorizontalLayout$ | async" [fxHide]="mobileQuery"  color="primary"
    mat-raised-button type="button">Add Receituario
  </button>
  <button *ngIf="isHorizontalLayout$ | async" [fxHide]="mobileQuery" color="primary"
    mat-raised-button type="button" (click)="modalReceituario()">add Cliente
  </button>
  <!-- <button mat-menu-item>
    <mat-icon [icIcon]="icPersonAdd"></mat-icon>
    <span>Add Cliente</span>
  </button>

  <button mat-menu-item (click)="modalReceituario()">
    <mat-icon [icIcon]="icDoneAll"></mat-icon>
    <span>Add Receituario</span>
  </button> -->

  <mat-menu #addNewMenu="matMenu" [overlapTrigger]="false" xPosition="after" yPosition="below">
  </mat-menu>
  <div *ngIf="(isVerticalLayout$ | async) && isNavbarInToolbar$ | async" [fxHide]="mobileQuery" class="px-gutter"
    fxFlex="none" fxLayout="row" fxLayoutAlign="start center">
    <vex-navigation-item *ngFor="let item of navigationItems" [item]="item"></vex-navigation-item>
  </div>

  <span fxFlex></span>

  <div class="-mx-1 flex items-center">
    <div class="px-1">
      <button (click)="openQuickpanel()" mat-icon-button type="button"> <!-- adicionar calendario nesse local  -->
        <mat-icon [icIcon]="icBookmarks"></mat-icon>
      </button>
    </div>
    <div class="px-1">
      <vex-toolbar-user></vex-toolbar-user>
    </div>

    <mat-menu #languageMenu="matMenu" overlapTrigger="false" xPosition="before" yPosition="below">
    </mat-menu>
  </div>
</div>

<vex-navigation *ngIf="(isVerticalLayout$ | async) && isNavbarBelowToolbar$ | async"
  [fxHide]="mobileQuery"></vex-navigation>